# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

/node_modules
# only ignore the root dist folder. 
# there is another dist folder in the deploy-s3-javascript folder
# is is under the deploy-s3/javascript/node_modules/uuid folder 
# so change the dist below to /dist
/dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
